// body{
//     background-color:rgb(201, 201, 201);
//     overflow-x:hidden;
// }
// .navbar-header{
//     background-color: rgb(38, 87, 87);
//     width:1200px;
// }
// .container-fluid{
//     background-color: rgb(38, 87, 87);
// }
// .group1
// {
//     font-size:15px;
//     color: white;
//     width:230px;
//     border-radius: 6px;
//     margin-top:-50px;
//     margin-bottom:2px;
//     margin-left:750px;
//     position: relative;
// }
// .group2{

//     font-size:15px;
//     color: white;
//     border-radius: 6px;
//     margin-top:-62px;
//     margin-bottom:2px;
//     margin-left:955px;
//     width:230px;
// }
// .group3{
//     margin-top:-36px;
//     margin-left:1160px;
// }

// .login_button{
//     font-size:15px;
//     color: white;
//     background-color:rgb(240, 100, 35);
//     border:1px solid rgb(251, 83, 5);
//     height: 35px;
//     border-radius: 6px;
//     width:135px;
//     margin-bottom:1px;
//     text-align:center;
// }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top:5%;
}

.example-full-width {
  width: 100%;
}
.image{
  height:440px;width:750px;
  margin-left:2%;
  margin-top:5px;
  box-shadow:10px 10px 20px 1px rgb(169, 186, 231);
  border-radius: 4%;
  border:1px solid rgb(8, 23, 233);
  margin-top:5%;
  margin-bottom: 5%;
}

.registerButton{
  width: 100%;
}
