

<mat-grid-list cols="2" rowHeight="90%">
  <mat-grid-tile>
    <img src="http://3.bp.blogspot.com/_GIchwvJ-aNk/TFimMH7cTpI/AAAAAAAATaI/-H8t6lKeJN4/s800/Arclight+sherman+oaks+Disney+storyboard+wall.jpg" class="image">
  </mat-grid-tile>
  <mat-grid-tile>
    <form class="example-form">
      <h1>Register</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name." type="text" [formControl]="nameFormControl" ><br/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Enter your surname"  [formControl]="surFormControl" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [formControl]="emailFormControl" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Enter your age" [formControl]="ageFormControl" type="number" minvalue="0">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" [formControl]="passwordFormControl"type="password">
    </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Repeat Password</mat-label>
            <input matInput placeholder="Enter your password" type="text"  [formControl]="password2FormControl " type="password">
          </mat-form-field>


          <button mat-raised-button color="primary" class="registerButton" (click)="register()">Register</button>
    </form>

  </mat-grid-tile>
</mat-grid-list>
