.open-dialog {
    // border: solid black 1px;
    display: block;
    margin-top: 5px;
    width: 100%;
}

.listed {
    border: solid black 2px;
}

.tile3 {
    font-size: 50px;
    padding: 30px;
}

.tile2 {
    padding: 100px;
    font-size: 16px;
}

.tile4 {
    font-size: 20px;
}

mat-card {
    width: 95%;
    height: 95%;
}

img {
    width: 90%;
    height: 90%;
}

.reviews {
    width: 98%;
    height: 98%;
}

.reviewCard {
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.additionalDetail{
  margin: 0;
}
