<mat-progress-bar mode="query" *ngIf="!movieDetails"></mat-progress-bar>
<div style="min-height: 80%;">
<!-- <mat-form-field appearance="fill">
    <mat-label> Movie Genres</mat-label>
    <mat-select>
        <mat-option *ngFor="let genre of genres" [value]="genre.value">
            {{genre.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field> -->
  <div *ngIf="movieDetails">
    <mat-grid-list cols="3" rowHeight="200px" *ngIf="images" gutterSize="2px" height="10%">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <img class="mat-elevation-z8" style="object-fit: contain; width: auto;" [src]="movieDetails.posterLink" />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-card class="mat-elevation-z8">

                <mat-card-header>
                    <mat-card-title>{{movieDetails.title}}</mat-card-title>
                </mat-card-header>
                {{movieDetails.description}}
                <br><br><br><b> Additional details.</b>
                <h3 class="additionalDetail">Director: {{movieDetails.director}}</h3>
                <h3 class="additionalDetail">Cast: {{movieDetails.cast}}</h3>
                <h3 class="additionalDetail">Certificate: {{getCertificatByEnum(movieDetails.certificate)}}</h3>
                <p></p>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-card class="showingTimes mat-elevation-z8">
                <mat-accordion style="width:100%">
                    <mat-card-header>
                        <mat-card-title>Showtimes</mat-card-title>
                    </mat-card-header>
                    <mat-expansion-panel *ngFor="let showing of allShowings">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{showing.date | date}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{showing.showings.length}} showtimes available
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button class="open-dialog" mat-stroked-button *ngFor="let show of showing.showings" (click)="openDialog(show)">
                          {{show.startTime | date:'HH:mm'}} - {{show.endTime | date:'HH:mm'}} | Screen {{show.screen}}
                        </button>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="2">
            <mat-card class=" reviews mat-elevation-z8">
                <mat-card-header>
                    <mat-card-title> Reviews </mat-card-title>
                </mat-card-header>

                <ngb-carousel *ngIf="images" [showNavigationArrows]="true" [showNavigationIndicators]="false" [interval]="5000">
                    <ng-template ngbSlide>
                        <mat-card class="reviewCard">
                            <mat-card-header>
                                <mat-card-title>Great movie</mat-card-title>
                                <mat-card-subtitle>⭐⭐⭐⭐⭐</mat-card-subtitle>
                            </mat-card-header>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in luctus justo. Sed volutpat mi nunc, vitae molestie lectus rutrum nec. Donec viverra orci sit amet enim faucibus accumsan. Donec neque urna, suscipit dapibus lacus et, aliquam aliquam sapien.
                            Ut nisl mauris, congue in ipsum tristique, elementum lobortis est. Aliquam sed varius magna. In hac habitasse platea dictumst. Nunc blandit non mi posuere interdum. Sed viverra faucibus enim, ut facilisis risus. Aenean hendrerit
                            eros sed pharetra imperdiet. Quisque efficitur ut neque id tincidunt. Donec vel libero eros. Ut pretium nulla id arcu ullamcorper, id volutpat orci pellentesque.</mat-card>
                    </ng-template>
                    <ng-template ngbSlide>
                        <mat-card class="reviewCard">
                            <mat-card-header>
                                <mat-card-title>Normal movie</mat-card-title>
                                <mat-card-subtitle>⭐⭐⭐⭐</mat-card-subtitle>
                            </mat-card-header>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in luctus justo. Sed volutpat mi nunc, vitae molestie lectus rutrum nec. Donec viverra orci sit amet enim faucibus accumsan. Donec neque urna, suscipit dapibus lacus et, aliquam aliquam sapien.
                            Ut nisl mauris, congue in ipsum tristique, elementum lobortis est. Aliquam sed varius magna. In hac habitasse platea dictumst. Nunc blandit non mi posuere interdum. Sed viverra faucibus enim, ut facilisis risus. Aenean hendrerit
                            eros sed pharetra imperdiet. Quisque efficitur ut neque id tincidunt. Donec vel libero eros. Ut pretium nulla id arcu ullamcorper, id volutpat orci pellentesque.</mat-card>
                    </ng-template>
                    <ng-template ngbSlide>
                        <mat-card class="reviewCard ">
                            <mat-card-header>
                                <mat-card-title>Bad movie</mat-card-title>
                                <mat-card-subtitle>⭐</mat-card-subtitle>
                            </mat-card-header>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in luctus justo. Sed volutpat mi nunc, vitae molestie lectus rutrum nec. Donec viverra orci sit amet enim faucibus accumsan. Donec neque urna, suscipit dapibus lacus
                            et, aliquam aliquam sapien. Ut nisl mauris, congue in ipsum tristique, elementum lobortis est. Aliquam sed varius magna. In hac habitasse platea dictumst. Nunc blandit non mi posuere interdum. Sed viverra faucibus enim, ut facilisis
                            risus. Aenean hendrerit eros sed pharetra imperdiet. Quisque efficitur ut neque id tincidunt. Donec vel libero eros. Ut pretium nulla id arcu ullamcorper, id volutpat orci pellentesque.</mat-card>
                    </ng-template>
                </ngb-carousel>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
