.staffCards mat-card {
  width: 90%;
  height: 90%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  text-align: center;
}

mat-card-title {
  color: rgb(18, 177, 79);
}

hr.line {
  border: 1px solid rgb(150, 139, 40);
}
