<mat-grid-list cols="2" rowHeight="2:1" class="staffCards">
  <mat-grid-tile>
    <mat-card >
        <mat-card-title>Charts</mat-card-title>
        <hr class="line">
        <mat-card-header>

        </mat-card-header>
    </mat-card>
</mat-grid-tile> <mat-grid-tile>
  <mat-card >
      <mat-card-title>Charts</mat-card-title>
      <hr class="line">
      <mat-card-header>

      </mat-card-header>
  </mat-card>
</mat-grid-tile> <mat-grid-tile>
  <mat-card >
      <mat-card-title>Charts</mat-card-title>
      <hr class="line">
      <mat-card-header>

      </mat-card-header>
  </mat-card>
</mat-grid-tile>

  <mat-grid-tile>
      <mat-card >
          <mat-card-title>Charts</mat-card-title>
          <hr class="line">
          <mat-card-header>

          </mat-card-header>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
