<h2> Select time and Date </h2>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div>
    <button mat-raised-button class="peopleButton">Adults: {{this.adultSeats}}</button><br>
    <button mat-raised-button class="peopleButton" [disabled]="this.childrenDisabled">Children: {{this.childSeats}}</button>
    <button mat-raised-button color="accent" (click)="addChild()" [disabled]="this.childrenDisabled">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="removeChild()" [disabled]="this.childrenDisabled">
      <mat-icon>remove</mat-icon>
    </button><br>
    <button mat-raised-button class="peopleButton">Seniors: {{this.seniorSeats}}</button>
    <button mat-raised-button color="accent" (click)="addSenior()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="removeSenior()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <h3 class="pricingHeaders">Ticket price: £{{this.data.show.price/100}}</h3>
      <h3 class="pricingHeaders">Children/Senior discount: -{{(1-this.data.show.discountMultiplier) | percent}}</h3>
      <h3 class="pricingHeaders">VIP seats charge : {{(this.data.show.luxuryMultiplier-1) | percent}}</h3>
      <h3 class="pricingHeaders">Total price: £{{this.totalPrice/100}}</h3>

  </div>
  </mat-grid-tile>
</mat-grid-list>

<h2 mat-dialog-title>Vip seats</h2>
<mat-dialog-content class="mat-typography">

  <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">

    <mat-button-toggle value="bold" [checked]="checkedSeats[0]" (change)="checkedSeats[0] = $event.source.checked" [disabled]="bookedSeats[0]" (click)="seatButtonClicked()">A1</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[1]" (change)="checkedSeats[1] = $event.source.checked" [disabled]="bookedSeats[1]" (click)="seatButtonClicked()">A2</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[2]" (change)="checkedSeats[2] = $event.source.checked" [disabled]="bookedSeats[2]" (click)="seatButtonClicked()">A3</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[3]" (change)="checkedSeats[3] = $event.source.checked" [disabled]="bookedSeats[3]" (click)="seatButtonClicked()">A4</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[4]" (change)="checkedSeats[4] = $event.source.checked" [disabled]="bookedSeats[4]" (click)="seatButtonClicked()">A5</mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[5]" (change)="checkedSeats[5] = $event.source.checked" [disabled]="bookedSeats[5]" (click)="seatButtonClicked()">A6</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[6]" (change)="checkedSeats[6] = $event.source.checked" [disabled]="bookedSeats[6]" (click)="seatButtonClicked()">A7</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[7]" (change)="checkedSeats[7] = $event.source.checked" [disabled]="bookedSeats[7]" (click)="seatButtonClicked()">A8</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[8]" (change)="checkedSeats[8] = $event.source.checked" [disabled]="bookedSeats[8]" (click)="seatButtonClicked()">A9</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[9]" (change)="checkedSeats[9] = $event.source.checked" [disabled]="bookedSeats[9]" (click)="seatButtonClicked()">A10</mat-button-toggle>

  </mat-button-toggle-group>
 <br>
  <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">

    <mat-button-toggle value="bold" [checked]="checkedSeats[10]" (change)="checkedSeats[10] = $event.source.checked" [disabled]="bookedSeats[10]" (click)="seatButtonClicked()">B1</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[11]" (change)="checkedSeats[11] = $event.source.checked" [disabled]="bookedSeats[11]" (click)="seatButtonClicked()">B2</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[12]" (change)="checkedSeats[12] = $event.source.checked" [disabled]="bookedSeats[12]" (click)="seatButtonClicked()">B3</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[13]" (change)="checkedSeats[13] = $event.source.checked" [disabled]="bookedSeats[13]" (click)="seatButtonClicked()">B4</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[14]" (change)="checkedSeats[14] = $event.source.checked" [disabled]="bookedSeats[14]" (click)="seatButtonClicked()">B5</mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[15]" (change)="checkedSeats[15] = $event.source.checked" [disabled]="bookedSeats[15]" (click)="seatButtonClicked()">B6</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[16]" (change)="checkedSeats[16] = $event.source.checked" [disabled]="bookedSeats[16]" (click)="seatButtonClicked()">B7</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[17]" (change)="checkedSeats[17] = $event.source.checked" [disabled]="bookedSeats[17]" (click)="seatButtonClicked()">B8</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[18]" (change)="checkedSeats[18] = $event.source.checked" [disabled]="bookedSeats[18]" (click)="seatButtonClicked()">B9</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[19]" (change)="checkedSeats[19] = $event.source.checked" [disabled]="bookedSeats[19]" (click)="seatButtonClicked()">B10</mat-button-toggle>

  </mat-button-toggle-group>

  <br>
  <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">

    <mat-button-toggle value="bold" [checked]="checkedSeats[20]" (change)="checkedSeats[20] = $event.source.checked" [disabled]="bookedSeats[20]" (click)="seatButtonClicked()">C1</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[21]" (change)="checkedSeats[21] = $event.source.checked" [disabled]="bookedSeats[21]" (click)="seatButtonClicked()">C2</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[22]" (change)="checkedSeats[22] = $event.source.checked" [disabled]="bookedSeats[22]" (click)="seatButtonClicked()">C3</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[23]" (change)="checkedSeats[23] = $event.source.checked" [disabled]="bookedSeats[23]" (click)="seatButtonClicked()">C4</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[24]" (change)="checkedSeats[24] = $event.source.checked" [disabled]="bookedSeats[24]" (click)="seatButtonClicked()">C5</mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[25]" (change)="checkedSeats[25] = $event.source.checked" [disabled]="bookedSeats[25]" (click)="seatButtonClicked()">C6</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[26]" (change)="checkedSeats[26] = $event.source.checked" [disabled]="bookedSeats[26]" (click)="seatButtonClicked()">C7</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[27]" (change)="checkedSeats[27] = $event.source.checked" [disabled]="bookedSeats[27]" (click)="seatButtonClicked()">C8</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[28]" (change)="checkedSeats[28] = $event.source.checked" [disabled]="bookedSeats[28]" (click)="seatButtonClicked()">C9</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[29]" (change)="checkedSeats[29] = $event.source.checked" [disabled]="bookedSeats[29]" (click)="seatButtonClicked()">C10</mat-button-toggle>

  </mat-button-toggle-group>



  <br>

  <h2 mat-dialog-title>Standard seats</h2>
  <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">

    <mat-button-toggle value="bold" [checked]="checkedSeats[30]" (change)="checkedSeats[30] = $event.source.checked" [disabled]="bookedSeats[30]" (click)="seatButtonClicked()">D1</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[31]" (change)="checkedSeats[31] = $event.source.checked" [disabled]="bookedSeats[31]" (click)="seatButtonClicked()">D2</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[32]" (change)="checkedSeats[32] = $event.source.checked" [disabled]="bookedSeats[32]" (click)="seatButtonClicked()">D3</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[33]" (change)="checkedSeats[33] = $event.source.checked" [disabled]="bookedSeats[33]" (click)="seatButtonClicked()">D4</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[34]" (change)="checkedSeats[34] = $event.source.checked" [disabled]="bookedSeats[34]" (click)="seatButtonClicked()">D5</mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[35]" (change)="checkedSeats[35] = $event.source.checked" [disabled]="bookedSeats[35]" (click)="seatButtonClicked()">D6</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[36]" (change)="checkedSeats[36] = $event.source.checked" [disabled]="bookedSeats[36]" (click)="seatButtonClicked()">D7</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[37]" (change)="checkedSeats[37] = $event.source.checked" [disabled]="bookedSeats[37]" (click)="seatButtonClicked()">D8</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[38]" (change)="checkedSeats[38] = $event.source.checked" [disabled]="bookedSeats[38]" (click)="seatButtonClicked()">D9</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[39]" (change)="checkedSeats[39] = $event.source.checked" [disabled]="bookedSeats[39]" (click)="seatButtonClicked()">D10</mat-button-toggle>

  </mat-button-toggle-group>

  <br>
  <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">

    <mat-button-toggle value="bold" [checked]="checkedSeats[40]" (change)="checkedSeats[40] = $event.source.checked" [disabled]="bookedSeats[40]" (click)="seatButtonClicked()">E1</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[41]" (change)="checkedSeats[41] = $event.source.checked" [disabled]="bookedSeats[41]" (click)="seatButtonClicked()">E2</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[42]" (change)="checkedSeats[42] = $event.source.checked" [disabled]="bookedSeats[42]" (click)="seatButtonClicked()">E3</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[43]" (change)="checkedSeats[43] = $event.source.checked" [disabled]="bookedSeats[43]" (click)="seatButtonClicked()">E4</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[44]" (change)="checkedSeats[44] = $event.source.checked" [disabled]="bookedSeats[44]" (click)="seatButtonClicked()">E5</mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[45]" (change)="checkedSeats[45] = $event.source.checked" [disabled]="bookedSeats[45]" (click)="seatButtonClicked()">E6</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[46]" (change)="checkedSeats[46] = $event.source.checked" [disabled]="bookedSeats[46]" (click)="seatButtonClicked()">E7</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[47]" (change)="checkedSeats[47] = $event.source.checked" [disabled]="bookedSeats[47]" (click)="seatButtonClicked()">E8</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[48]" (change)="checkedSeats[48] = $event.source.checked" [disabled]="bookedSeats[48]" (click)="seatButtonClicked()">E9</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[49]" (change)="checkedSeats[49] = $event.source.checked" [disabled]="bookedSeats[49]" (click)="seatButtonClicked()">E10</mat-button-toggle>

  </mat-button-toggle-group>

  <br>
  <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">

    <mat-button-toggle value="bold" [checked]="checkedSeats[50]" (change)="checkedSeats[50] = $event.source.checked" [disabled]="bookedSeats[50]" (click)="seatButtonClicked()">F1</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[51]" (change)="checkedSeats[51] = $event.source.checked" [disabled]="bookedSeats[51]" (click)="seatButtonClicked()">F2</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[52]" (change)="checkedSeats[52] = $event.source.checked" [disabled]="bookedSeats[52]" (click)="seatButtonClicked()">F3</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[53]" (change)="checkedSeats[53] = $event.source.checked" [disabled]="bookedSeats[53]" (click)="seatButtonClicked()">F4</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[54]" (change)="checkedSeats[54] = $event.source.checked" [disabled]="bookedSeats[54]" (click)="seatButtonClicked()">F5</mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[55]" (change)="checkedSeats[55] = $event.source.checked" [disabled]="bookedSeats[55]" (click)="seatButtonClicked()">F6</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[56]" (change)="checkedSeats[56] = $event.source.checked" [disabled]="bookedSeats[56]" (click)="seatButtonClicked()">F7</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[57]" (change)="checkedSeats[57] = $event.source.checked" [disabled]="bookedSeats[57]" (click)="seatButtonClicked()">F8</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[58]" (change)="checkedSeats[58] = $event.source.checked" [disabled]="bookedSeats[58]" (click)="seatButtonClicked()">F9</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[59]" (change)="checkedSeats[59] = $event.source.checked" [disabled]="bookedSeats[59]" (click)="seatButtonClicked()">F10</mat-button-toggle>

  </mat-button-toggle-group>

  <br>
  <mat-button-toggle-group multiple name="fontStyle" aria-label="Font Style">

    <mat-button-toggle value="bold" [checked]="checkedSeats[60]" (change)="checkedSeats[60] = $event.source.checked" [disabled]="bookedSeats[60]" (click)="seatButtonClicked()">G1</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[61]" (change)="checkedSeats[61] = $event.source.checked" [disabled]="bookedSeats[61]" (click)="seatButtonClicked()">G2</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[62]" (change)="checkedSeats[62] = $event.source.checked" [disabled]="bookedSeats[62]" (click)="seatButtonClicked()">G3</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[63]" (change)="checkedSeats[63] = $event.source.checked" [disabled]="bookedSeats[63]" (click)="seatButtonClicked()">G4</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[64]" (change)="checkedSeats[64] = $event.source.checked" [disabled]="bookedSeats[64]" (click)="seatButtonClicked()">G5</mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" disabled></mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[65]" (change)="checkedSeats[65] = $event.source.checked" [disabled]="bookedSeats[65]" (click)="seatButtonClicked()">G6</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[66]" (change)="checkedSeats[66] = $event.source.checked" [disabled]="bookedSeats[66]" (click)="seatButtonClicked()">G7</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[67]" (change)="checkedSeats[67] = $event.source.checked" [disabled]="bookedSeats[67]" (click)="seatButtonClicked()">G8</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[68]" (change)="checkedSeats[68] = $event.source.checked" [disabled]="bookedSeats[68]" (click)="seatButtonClicked()">G9</mat-button-toggle>
    <mat-button-toggle value="bold" [checked]="checkedSeats[69]" (change)="checkedSeats[69] = $event.source.checked" [disabled]="bookedSeats[69]" (click)="seatButtonClicked()">G10</mat-button-toggle>

  </mat-button-toggle-group>



</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="proceedToCashPayment()">Pay By Cash</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="proceedToPayment()">Pay By Card</button>
</mat-dialog-actions>
