<div class="main-div">
  <mat-card>
    <h1>My Tickets</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Movie Name </th>
        <td mat-cell *matCellDef="let element"> {{element.movieName}} </td>
      </ng-container>

      <ng-container matColumnDef="seat">
        <th mat-header-cell *matHeaderCellDef> Seat Number </th>
        <td mat-cell *matCellDef="let element"> {{element.seatId}} </td>
      </ng-container>

      <ng-container matColumnDef="screen">
        <th mat-header-cell *matHeaderCellDef> Screen </th>
        <td mat-cell *matCellDef="let element"> {{element.screen}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'EEEE, MMMM d, y, HH:mm'}} </td>
      </ng-container>

       <ng-container matColumnDef="ticket">
        <th mat-header-cell *matHeaderCellDef> ticket </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" (click)="viewTicket(element.id)">View ticket</button>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>


</div>
