<mat-toolbar color="primary">
    <span>Woodhouse Picture House</span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/staff" *ngIf="getRoleName() === 'Staff'">Staff Page</button>
    <button mat-button routerLink="/owner" *ngIf="getRoleName() === 'Owner'">Business Owner Page</button>
    <span class="spacer"></span>
    <app-searcharea></app-searcharea>

    <a mat-button [matMenuTriggerFor]="accountMenu">
    {{ getAccountName() }}
    <mat-icon
      class="account-icon"
      aria-hidden="false"
      aria-label="Example user verified icon"
      >account_box</mat-icon
    >
  </a>
    <mat-menu #accountMenu="matMenu">
        <ng-container *ngIf="isLoggedIn(); else elseBlock">
            <button mat-menu-item routerLink="/account">My account</button>
            <button mat-menu-item routerLink="/mytickets">My tickets</button>
            <button mat-menu-item (click)="logOut()">Log out</button>
        </ng-container>
        <ng-template #elseBlock>
            <button mat-menu-item routerLink="/login">Login</button>
            <button mat-menu-item routerLink="/register">Register</button>
        </ng-template>
    </mat-menu>
</mat-toolbar>
