<h2 mat-dialog-title>Cash Payment</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{data.refferenceCode}} is your refference code!</h3>
  <h4>Show this refference code to cashier and pay for the tickets!</h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
