<mat-grid-list cols="1" rowHeight="2:1" class="staffCards">
  <mat-grid-tile>
    <mat-card class="addShowingPage box">
      <mat-card-title>Payment successful!</mat-card-title>
      <hr class="line" />
      <mat-card-header>
        <div>
          <h3>Thank you for your purchase!</h3>
          <h3>The tickets and a receipt has been sent to your email.</h3>
          <h3>You can also find your tickets in MyTickets page</h3>
          <button class="accent" mat-raised-button color="accent"  routerLink="/mytickets">Go to MyTickets</button>
        </div>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
