.staffCards {
  margin-left: auto;

  margin: auto;
  width: 50%;

}

.title {
  color: rgb(24, 104, 60);
  font-size: 24px;
}

mat-card-title {
  color: rgb(136, 35, 97);
}

.order_list {
  color: rgb(180, 160, 44);
  font-size: 20px;
}
.box {
  width: 450px;
  border: solid black 4px;
  box-shadow: 10px 10px 5px #aaaaaa;
  height: 420px;

}

.accent{
  font-size: 16px;
  width: 100%;
}
