<h2 mat-dialog-title>Confirm Cash Payment</h2>
<mat-dialog-content class="mat-typography">
  <h2 class="informationHeaders">Please confirm cash payment for the following:</h2>
  <h4 class="informationHeaders">Adult Seats: {{data.data.adultSeats}}</h4>
  <h4 class="informationHeaders">Chld Seats: {{data.data.childSeats}}</h4>
  <h4 class="informationHeaders">Senior Seats: {{data.data.seniorSeats}}</h4>
  <h4 class="informationHeaders">Total VIP Seats: {{data.data.vipSeats}}</h4>
  <h3 class="informationHeaders">Total Price: {{data.data.pricePaid/100 | currency:'GBP'}}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Deny</button>
  <button mat-button mat-dialog-close (click)="accept()">Accept</button>
</mat-dialog-actions>
