.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */

.row::after {
  content: "";
  clear: both;
  display: table;
}
.todays {
  color: rgb(54, 111, 233);
  margin-left: 5%;
}
.image {
  width: 250px;
  height: 280px;
  margin-left: 15%;
  margin-right: 2%;
  margin-top:-5%;
  position: relative;
  cursor: pointer;
}

.middleCarousel {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}
.myCarousel {
  height: 5%;
  width: 100%;
  overflow: hidden;
}
.item {
  width: 90%;
  height: 450px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top:5px;
}

mat-card {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.adTextt {
  color: rgb(0, 0, 0);
  font-family: advthin;
  font-size: 70px;
  letter-spacing: 2px;
  line-height: 70px;
  outline-color: rgb(0, 0, 0);
  outline-style: none;
  outline-width: 0px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-transform: uppercase;
  min-height: 200px;
  text-align: center;
  margin-top: 10%;
}
.adCarousel{
  width: 80%;
  height: 100%;
  margin-left: 10%;
  min-height: 300px;
  text-align: center;
}
