<div class="myCaraousel" *ngIf="homeMovies">
  <ngb-carousel
    *ngIf="images"
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
    [interval]="3000"
    class="adCarousel"
  >
  <ng-template ngbSlide>
      <h1 class="adTextt">Welcome to Woodhouse Picture House!</h1>
  </ng-template>
    <ng-template ngbSlide>
        <h1 class="adTextt">Voted top 10 cinemas in the UK</h1>
    </ng-template>
    <ng-template ngbSlide>
      <h1 class="adTextt">
        Cinemas with the luxury of IMAX with the comfort of home
      </h1>
    </ng-template>
    <ng-template ngbSlide>
      <h1 class="adTextt">Best popcorn in Woodhouse!</h1>
    </ng-template>
  </ngb-carousel>
</div>

<mat-card class="mat-elevation-z8">
  <h1 [className]="'todays'">Trending films</h1>
  <div class="middleCarousel" *ngIf="homeMovies">
    <ngb-carousel
      [animation]="'slide'"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      [interval]="'none'"
    >
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[0].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[0].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[0].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[1].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[1].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[1].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[2].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[2].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[2].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[3].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[3].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[3].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[4].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[4].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[4].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[5].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[5].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[5].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[6].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[6].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[6].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[7].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[7].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[7].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[8].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[8].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[8].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[9].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[9].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[9].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[10].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[10].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[10].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.trendingFilms[11].posterLink"
              (click)="goToMoviePage(homeMovies.trendingFilms[11].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.trendingFilms[11].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</mat-card>

<mat-card class="mat-elevation-z8">
  <h1 [className]="'todays'">New releases</h1>
  <div class="middleCarousel" *ngIf="homeMovies">
    <ngb-carousel
      *ngIf="images"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      [interval]= "'none'"
    >
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[0].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[0].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[0].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[1].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[1].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[1].movieName}}</b></h2>

          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[2].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[2].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[2].movieName}}</b></h2>

          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[3].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[3].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[3].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[4].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[4].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[4].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[5].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[5].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[5].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[6].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[6].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[6].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[7].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[7].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[7].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[8].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[8].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[8].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[9].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[9].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[9].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[10].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[10].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[10].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.newReleases[11].posterLink"
              (click)="goToMoviePage(homeMovies.newReleases[11].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.newReleases[11].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</mat-card>

<mat-card class="mat-elevation-z8">
  <h1 [className]="'todays'">Coming soon</h1>
  <div class="middleCarousel" *ngIf="homeMovies">
    <ngb-carousel
      *ngIf="images"
      [animation]="false"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      [interval]="'none'"
    >
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[0].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[0].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[0].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[1].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[1].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[1].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[2].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[2].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[2].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[3].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[3].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[3].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[4].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[4].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[4].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[5].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[5].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[5].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[6].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[6].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[6].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[7].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[7].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[7].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
      <ng-template>
        <div class="row">
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[8].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[8].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[8].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[9].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[9].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[9].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[10].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[10].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[10].movieName}}</b></h2>
          </div>
          <div class="column" matRipple>
            <img
              class="image mat-elevation-z8"
              [src]="homeMovies.comingSoon[11].posterLink"
              (click)="goToMoviePage(homeMovies.comingSoon[11].movieID)"
            />
            <h2 style="text-align: center;"><b>{{homeMovies.comingSoon[11].movieName}}</b></h2>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</mat-card>
