.staffCards mat-card {
    width: 90%;
    height: 90%;
}

.example-full-width {
    width: 100%;
}

mat-card-title {
    color: rgb(18, 177, 79);
}

hr.line {
    border: 1px solid rgb(150, 139, 40);
}
