<form (submit)="newMovie()">
    <mat-form-field class="example-full-width">
        <mat-label>Movie ID</mat-label>
        <input matInput name="movieIDInput" value="tt4154796" required="required" [(ngModel)]="newMovieDetails.movieID">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Poster link.</mat-label>
      <input matInput name="movieIDInput" required="required" [(ngModel)]="newMovieDetails.posterLink">
  </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Certificate</mat-label>
        <mat-select name="movieCertInput" required="required" [(ngModel)]="newMovieDetails.certificate">
            <mat-option *ngFor="let cert of certificates" [value]="cert.value">
                {{cert.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Base Ticket Price (in pence)</mat-label>
        <input matInput name="moviePriceInput" required="required" [(ngModel)]="newMovieDetails.ticketprice">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
