<mat-grid-list cols="2" rowHeight="2:1" class="staffCards">
    <mat-grid-tile>
        <mat-card class="addMoviePage">
            <mat-card-title>Add a movie</mat-card-title>
            <hr class="line">
            <mat-card-header>

                <app-add-movie></app-add-movie>

            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="addShowingPage">
            <mat-card-title>Upcoming showings</mat-card-title>
            <hr class="line">
            <mat-card-header>
                <mat-list>
                    <mat-list-item>1. The Swtich</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>2. Captain America</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>3. Joker</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>4. The Revolutionary</mat-list-item>
                </mat-list>

            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="addShowingPage">
            <mat-card-title>Schedule A Show</mat-card-title>
            <hr class="line">
            <mat-card-header>
                <form class="example-form">

                    <mat-form-field class="example-full-width">
                        <mat-label>Enter a movie title for showing</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="Wolf of street">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="datetime-local" placeholder="Enter Time and Date">
                    </mat-form-field>
                    <div>

                        <button mat-raised-button color="primary">Submit</button>

                    </div>

                </form>




            </mat-card-header>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="addShowingPage">
            <mat-card-title>Confirm booking.</mat-card-title>
            <hr class="line">
            <mat-card-header>
              <app-confirm-payment></app-confirm-payment>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
