footer {
    height: 16%;
    background-color: rgb(63, 81, 181);
    bottom: 0px;
    position: relative;
    top: 25px;
}

.fb {
    font-size: 30px;
    margin-top: -5%;
    margin-left: 5%;
    color: rgb(253, 245, 245);
    position: relative;
}

.tw {
    padding-top: 1%;
    font-size: 30px;
    margin-top: -5%;
    margin-left: 5%;
    padding-top: 2%;
    color: rgb(255, 255, 255);
    position: relative;
}

.ig {
    font-size: 30px;
    margin-top: -5%;
    padding-top: 2%;
    margin-left: 5%;
    color: rgb(255, 255, 255);
    position: relative;
}

.yt {
    font-size: 30px;
    padding-top: 30px;
    margin-top: -5%;
    margin-left: 5%;
    padding-top: 2%;
    color: rgb(255, 255, 255);
    position: relative;
}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    margin-top: 1%;
    margin-left: 5%;
    position: center;
}

.follow {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: left;
    margin-left: 5%;
    padding-top: 2%;
    position: relative;
}

.address {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: right;
    margin-top: -2%;
    margin-right: 2%;
}
