<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
    <div>
    <p class="follow" >Follow us on our Social Media</p>
    <p class="address">
        You can also find us here:<br/>
        University of Leeds,
        Woodhouse Moore<br/>
    </p>
</div>
<div>

            <a href="#" class="fa fa-facebook fb "></a>
            <a href="#" class="fa fa-twitter tw"></a>
            <a href="#" class="fa fa-instagram ig"></a>
            <a href="#" class="fa fa-youtube yt"></a>
            <p class="copyright">&copy; 2021 Woodhouse Picture House</p>
</div>

</footer>
