<form (submit)="newMovie()">
  <mat-form-field class="example-full-width">
      <mat-label>Refference Code</mat-label>
      <input matInput name="movieIDInput" required="required" [(ngModel)]="refCode">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
