<mat-grid-list cols="1" rowHeight="70%">
  <mat-grid-tile>
    <mat-card class="half-width">
      <h1>Welcome back!</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width" >
          <mat-label>Email</mat-label>
          <input matInput placeholder="Type in your email" [formControl]="emailFormControl">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Type in your password" type="password"  [formControl]="passwordFormControl">
        </mat-form-field>

        <button mat-raised-button color="primary" class="loginButton" (click)="processLogin()">Log in</button>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
