<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search movie...</mat-label>
    <input type="text"
           aria-label="Search movie..."
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.item1" (click)="navigateTo(option.item2)">
        {{option.item1}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
